@font-face {
    font-family: 'AlKanz';
    src: url('../fonts/AL-KANZ.TTF') format('truetype');
}

@font-face {
    font-family: 'KanzAlMarjaan';
    src: url('../fonts/KANZ-AL-MARJAAN.TTF') format('truetype');
}
